---
interface props {
  name: String;
  details: String;
  price: string;
  type: string;
}

const { type, priceCaliente, priceFrio, name, details } = Astro.props;
---

<article
  class="mx-2 my-4 shadow-md rounded-xl flex justify-between items-center py-2 px-4 lg:w-1/3"
>
  <div class="p-1">
    {
      type && (
        <p class="text-xs py-1 px-2 my-1 bg-red-300 inline-block text-center rounded-xl text-red-950">
          {type}
        </p>
      )
    }
    <h3 class="font-bold">{name}</h3>
    <p class="text-xs text-zinc-500 max-w-60">{details}</p>
  </div>
  {
    priceCaliente && (
      <span class="py-3 text-end">
        <p class="font-bold text-xs bg-red-200 py-1 px-2 my-1 rounded-xl text-red-900 w-30 inline-block">
          {priceCaliente}
        </p>
        <p class="font-bold text-xs bg-blue-200 py-1 px-2 my-1 rounded-xl text-blue-900 inline-block">
          {priceFrio}
        </p>
      </span>
    )
  }
</article>
