---
import Layout from "../../../layouts/Layout.astro";
import { HeaderNav } from "../../../components/header";
import HeroImg from "../../../components/menu/heroImg.astro";
import Footer from "../../../components/footer.astro";
import { CardPrice } from "../../../components/menu/CardPrice.jsx";
import CardProduct from "../../../components/menu/CardProduct.astro";
import { monstruosas } from "../../../info/Galletas.js";
import { preciosMonstruosas } from "../../../info/precios.js";
---

<Layout title="QG Menu de Galletas">
  <HeaderNav client:visible />
  <HeroImg title="Monstruosas" linkImg="/fondos/galletasfondo.png" />
  <article
    class="mt-16 bg-white py-2 px-8 mx-4 text-center shadow-xl rounded-lg"
  >
    <h3 class="font-bold">Precios</h3>
    {
      preciosMonstruosas.map((data) => (
        <CardPrice precio={data.precio} cantidad={data.cantidad} />
      ))
    }
  </article>
  <section class="flex flex-col">
    {
      monstruosas.map((galleta) => (
        <CardProduct
          title={galleta.title}
          img={galleta.img}
          text={galleta.text}
        />
      ))
    }
    <figure class="m-3">
      <img src="/fondos/galletasfondo2.png" alt="" class="rounded-2xl" />
    </figure>
  </section>

  <Footer />
</Layout>
