---
import Layout from "../../layouts/Layout.astro";
import { HeaderNav } from "../../components/header.jsx";
import HeroImg from "../../components/menu/heroImg.astro";
import Footer from "../../components/footer.astro";
import { CardPrice } from "../../components/menu/CardPrice.jsx";
import CardProduct from "../../components/menu/CardProduct.astro";
import { Espaciales } from "../../info/Galletas.js";
import { preciosEspaciales } from "../../info/precios.js";
---

<Layout title="QG Menu de Galletas">
  <HeaderNav client:visible />
  <HeroImg
    title="Espaciales"
    bg="bg-[url('/fondos/espaciales.png')] lg:bg-[url('/fondos/espacialesD.png')]"
  />
  <article
    class="my-2 bg-white py-2 px-8 mx-4 text-center shadow-xl rounded-lg lg:w-96 lg:mx-auto"
  >
    <h3 class="font-bold">Precios</h3>
    {
      preciosEspaciales.map((data) => (
        <CardPrice precio={data.precio} cantidad={data.cantidad} />
      ))
    }
  </article>
  <section
    class="flex flex-col lg:flex-row lg:flex-wrap lg:justify-center lg:mb-5"
  >
    {
      Espaciales.map((galleta) => (
        <CardProduct
          title={galleta.title}
          img={galleta.img}
          text={galleta.text}
        />
      ))
    }
    <figure class="m-3 lg:hidden">
      <img src="/fondos/galletasfondo2.png" alt="" class="rounded-2xl" />
    </figure>
  </section>

  <Footer />
</Layout>
