---
import Layout from "../../layouts/Layout.astro";
import { HeaderNav } from "../../components/header.jsx";
import HeroImg from "../../components/menu/heroImg.astro";
import Footer from "../../components/footer.astro";
import CardBebida from "../../components/menu/bebidas/CardTe_Infusiones.astro";
import { Te } from "../../info/bebidas.js";
---

<Layout title="Te e Infusiones">
  <HeaderNav client:visible />
  <HeroImg title="Té e infusiones" bg="bg-[url('/bebidas/te.png')]" />
  <section
    class="flex flex-col lg:flex-row lg:flex-wrap lg:justify-center lg:max-w-[1280px] lg:mx-auto lg:my-5"
  >
    {
      Te.map((bebida) => (
        <CardBebida
          name={bebida.name}
          details={bebida.details}
          priceCaliente={bebida.priceCaliente}
          priceFrio={bebida.priceFrio}
          type={bebida.type}
        />
      ))
    }
    <figure class="m-3 lg:hidden">
      <img src="/fondos/galletasfondo2.png" alt="" class="rounded-2xl" />
    </figure>
  </section>

  <Footer />
</Layout>
